.holder {
    display: flex;
    flex-wrap: wrap;            
    justify-content:space-between; 
    gap: 20px;                  
    padding: 20px;              
}

.item {
  width: 150px;
  height: 150px;
  color: white;
  font-size: 5em;
  font-weight: bold;
  display: flex;
  align-items:up;
  justify-content:none;
  margin-bottom: none;7color:BLACK;
	color:black;
}

.orange { background-color: orangered; }
.blue { background-color: blue; }
.green { background-color: green; }