.holder {
  display:flex;
  justify-content: space-between; 
  flex-wrap: wrap;                
  margin: 20px 0;
	
}

.item {
  width: 100px;
  height: 100px;
  color: white;
  font-size: 3em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content:none;
  margin-bottom: none;
	color:BLACK;
}

.orange { background-color: orangered; }
.blue { background-color: blue; }
.green { background-color: green; }