.holder {
  display:flex;
  justify-content: space-between; 
  flex-wrap: wrap;                
  margin: 20px 0;
	
}

.item {
  width: 150px;
  height: 150px;
  color: white;
  font-size: 5em;
  font-weight: bold;
  display: flex;
  align-items:up;
  justify-content:none;
  margin-bottom: none;7color:BLACK;
}

.orange { background-color: orangered; }
.blue { background-color: blue; }
.green { background-color: green; }